@model List<int>


<form method="post" action="/Devices/ChangeThresholds">
    <div><p style="font-size:20px"><b>Change thesholds</b></p><br /></div>
    <div class="form-group row">
        <div class="col-md-auto">
            <label>Device Id</label>
        </div>
        <div class="col-md-2">
            @Html.DropDownList(
            "deviceId",
            new SelectList(
                Model.Select(x => new { Value = x, Text = x }),
                "Value",
                "Text")
            )
        </div>
    </div> 
    <div class="form-group row">
        <div class="col-md-auto">
            <label>Upper threshold</label>
        </div>
        <div class="col-md-2">
            <input id="upperThreshold"  name="upperThreshold" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-auto">
            <label>Lower threshold</label>
        </div>
        <div class="col-md-2">
            <input id="lowerThreshold" name="lowerThreshold" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <input type="submit" value="Ok" />
        </div>
    </div>
</form>
