@model Dictionary<int, Device>

@{
    ViewData["Title"] = "Devices";
}


<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <a href="#" class="EditDevice" onclick="loadEditThresholdsView()">Change thresholds</a>
    <div id="editDevices">

    </div>
    <div id="devicesTable">
        @{
            await Html.RenderPartialAsync("DevicesView", Model);
        }
    </div>


</body>
</html>


<script>
    function loadPartialView() {
        $.ajax({
            url: '@Url.Action("GetDevicesTable", "Devices")',
            type: 'post',
            cache: false,
            async: true,
            success: function (result) {
                $('#devicesTable').html(result);
            }
        });
    }

</script>
<script>
    function loadEditThresholdsView() {
        $.ajax({
            url: '@Url.Action("ChangeThresholds", "Devices")',
            type: 'get',
            cache: false,
            async: true,
            success: function (result) {
                $('#editDevices').html(result);
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        function RefreshPartial() {
            //this will wait13 seconds and then fire the load partial function
            setTimeout(function () {
                loadPartialView();
                RefreshPartial();
            }, 1000);
        }
        //initialize the loop
        RefreshPartial();
    });
</script>


